body{
  font-size: medium;
  font-family: sans-serif;
}
.row{
  display: flex;
  flex-direction: row;
}
.col{
  display: flex;
  flex-direction: column;
}
.wrap{flex-wrap: wrap;}
.space{justify-content: space-between;}
.small_button{
  border: solid gray 1px;
  font-size: large;
  width: 1.5em;
  height: 1.5em;
}
input[type='number']{
  width: 5em;
}
.hidden{
  display: none;
}
.left-pad{
  margin-left: 1em;
}
.log-row{
  display: grid;
  grid-template-columns: 2em repeat(2, 10em) auto 10em 8em;
  padding: .2em 0em;
  border-bottom: 1px solid #999999;
}
.log-row:hover {
  background-color: white !important;
}
button.x{
  width: 1.5em;
  height: 1.5em;
}
.tags > a {
  padding: 0em .3em;
}