#timer{
  width: 33em;
  flex-wrap: wrap;
}
input.timer{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border-style: none;
}
.timer_row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 2px 3px 2px;
  margin-top: 5px;
}
.one{
  color: black;
  background-color: #a0c9f8;
}
.two{
  color: black;
  background-color: #f0a8a8;
}
div.timer{
  width: 25em;
}
.quick_area{
  width: 13em;
}
.plus{
  background-color: #A0DAA9;
}
.plus:hover{
  background-color: #00A170;
}
.minus{
  background-color: #ff6666;
}
.minus:hover{
  background-color: #e60000;
}
.timer0000{
  width: 2.6em;
}
.timer00{
  width: 1.3em;
}